.f12-comments-header {
  font-size: 150%;
  border-bottom: 1px #ccc solid;
  padding-bottom: 6px;
  margin-top: 19px;
  margin-bottom: 11px; }

div.f12-comment-form-block {
  max-width: 650px;
  margin: 50px 0 20px 0; }

div.f12-comment-form-block form.f12-comments-form {
  padding-bottom: 40px; }

div.f12-comment-info-success {
  padding: 13px;
  background-color: #f6fbf5;
  border: 1px #e8e8e8 solid;
  font-size: 120%;
  margin: 20px 0; }

.f12-comment-button {
  padding: 2px 7px;
  color: #757575;
  border: 1px #ccc solid;
  margin: 0 1px; }

.f12-comment-button:hover {
  text-decoration: none;
  background-color: #f8f8f8;
  color: #757575; }

div.f12-comment-list {
  max-width: 650px;
  margin-bottom: 25px; }

div.f12-comment-list div.f12-comment {
  margin-top: 30px; }

div.f12-comment-list div.f12-comment img.f12-comment-avatar {
  width: 22px;
  float: left;
  margin: -1px 5px 0 0;
  border: 1px #ccc solid;
  border-radius: 2px; }

div.f12-comment-list div.f12-comment div.f12-comment-name {
  font-weight: bold; }

div.f12-comment-list div.f12-comment div.f12-comment-date {
  float: right; }

div.f12-comment-list div.f12-comment div.f12-comment-content {
  margin-top: 5px; }

div.f12-comment-list div.f12-comment div.f12-comment-control {
  transition: all 0.2s;
  text-align: right;
  opacity: 0; }

div.f12-comment-list div.f12-comment:hover div.f12-comment-control {
  opacity: 1; }

div.f12-comment-list div.f12-subcomment {
  margin-left: 30px;
  margin-top: 10px;
  border-left: 1px #ccc solid;
  padding-left: 20px; }

div.f12-comment-list div.f12-subcomment form.f12-comments-form {
  margin: 32px 0 0 0;
  padding-bottom: 40px; }

div.f12-comment-admin-object {
  margin: 32px 0 0 0;
  padding: 10px;
  border-radius: 7px; }
  div.f12-comment-admin-object div.f12-comment-admin-object-header {
    margin-bottom: 15px; }
    div.f12-comment-admin-object div.f12-comment-admin-object-header div.f12-comment-name {
      font-weight: 500; }
    div.f12-comment-admin-object div.f12-comment-admin-object-header .f12-comment-admin-object-control {
      float: right; }
    div.f12-comment-admin-object div.f12-comment-admin-object-header .f12-comment-rating {
      background: #999;
      color: white;
      padding: 1px 5px;
      border-radius: 3px;
      font-weight: 400;
      margin: 6px 0;
      display: inline-block; }
    div.f12-comment-admin-object div.f12-comment-admin-object-header .f12-comment-date {
      display: inline-block;
      color: #888; }

div.f12-comment-admin-sub {
  margin: 1px 0 0 51px; }

div.f12-comment-admin-object-status {
  width: 20px;
  height: 20px;
  float: left;
  margin: 0 10px 0 0;
  border-radius: 3px; }

div.f12-comment-admin-object-status0 {
  background: #b3dd1d; }

div.f12-comment-admin-object-status1 {
  background: #56c1cc; }

div.f12-comment-admin-object-status2 {
  background: #c83407;
  opacity: 0.7; }

div.f12-filter-block {
  background-color: #f7f7f7;
  padding: 15px 15px 1px 15px;
  margin-bottom: 45px;
  border: 1px #eee solid; }

div.f12-deleted {
  opacity: 0.4; }

div.f12-pending {
  background-color: #f1f0ec;
  padding: 10px;
  opacity: 0.9; }
  div.f12-pending .f12-comment-button-answer {
    display: none; }

#comments-list-view {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  @media (min-width: 1200px) {
    #comments-list-view > div {
      width: calc(50% - 25px); }
    #comments-list-view > div.summary {
      width: 100%; } }

div.f12-rating-field {
  position: relative;
  width: 10em;
  height: 2em;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 19'%3E%3Cpath fill='%239b9b9b' d='M10 0l2.36 7.28L20 7.25l-6.19 4.47L16.19 19 10 14.48 3.83 19l2.36-7.28L0 7.25l7.66.03z'/%3E%3C/svg%3E");
  background-size: 2em auto;
  background-repeat: repeat-x;
  /* Options */ }
  div.f12-rating-field input {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    height: 2em;
    font-size: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-size: 2em auto;
    background-repeat: repeat-x; }
  div.f12-rating-field input:focus {
    outline: none; }
  div.f12-rating-field input:hover,
  div.f12-rating-field input:checked {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 19'%3E%3Cpath fill='%237ed321' d='M10 0l2.36 7.28L20 7.25l-6.19 4.47L16.19 19 10 14.48 3.83 19l2.36-7.28L0 7.25l7.66.03z'/%3E%3C/svg%3E"); }
  div.f12-rating-field input:hover ~ input {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 19'%3E%3Cpath fill='%239b9b9b' d='M10 0l2.36 7.28L20 7.25l-6.19 4.47L16.19 19 10 14.48 3.83 19l2.36-7.28L0 7.25l7.66.03z'/%3E%3C/svg%3E"); }
  div.f12-rating-field input:nth-of-type(1) {
    z-index: 5;
    width: 2em; }
  div.f12-rating-field input:nth-of-type(2) {
    z-index: 4;
    width: 4em; }
  div.f12-rating-field input:nth-of-type(3) {
    z-index: 3;
    width: 6em; }
  div.f12-rating-field input:nth-of-type(4) {
    z-index: 2;
    width: 8em; }
  div.f12-rating-field input:nth-of-type(5) {
    z-index: 1;
    width: 10em; }

div.f12-rating-field:focus-within {
  outline: 0.2em solid #4a90e2;
  outline-offset: 0.2em; }

/*# sourceMappingURL=floor12-comments.scss.map */

/*# sourceMappingURL=floor12-comments.css.map */
